{% extends 'base.html' %}

{% block content %}
    <h1>Emails</h1>
    <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Timestamp</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                    <td><i class="{{ 'fas fa-envelope-open' if email.status == 'opened' else 'fas fa-envelope' }}"></i></td>
                    <td><a href="{{ url_for('email.email', email_id=email.id) }}">{{ email.sender }}</a></td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href="{{ url_for('email.delete', email_id=email.id) }}"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
